# Git

alias gco='git checkout'
alias gst='git status'
alias gaa='git add --all'
alias gcmsg="git commit -m"
alias gcm="git checkout main"


# Startup files

ZSHRC="$ZDOTDIR/.zshrc"

alias vizshrc='vi $ZSHRC'
alias update='source $ZSHRC; echo  "sourced .zshrc"'
